
# Database
DB_NAME=jewellery_billing
DB_USER=root
DB_PASS=
DB_HOST=localhost
DB_PORT=3306


JWT_SECRET=asdfghjkwertyuiop1233

# Server
PORT=5000
NODE_ENV=development


FRONTEND_URL=http://localhost:3000


SETUP_KEY=change_this_to_something_very_secret_2024
