
# Database
DB_NAME=your_database
DB_USER=your_user_name
DB_PASS=your_password
DB_HOST=your_host_name
DB_PORT=your_database_port


JWT_SECRET=your_jwt_secret

# Server
PORT=your_port


FRONTEND_URL=http://localhost:3000


SETUP_KEY=your_api_key
